:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* Color scheme taken from (https://visme.co/blog/website-color-schemes/)
    Autho: Nayomi Chibana */
    
    --black: #17252A;
    --cyan: #3AAFA9;
    --dark-cyan: #2B7A78;
    --light-grey: #DEF2F1;
    --milky: #FEFFFF;
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: grid;
    grid-template: 1fr 6fr 40px / 1fr 6fr;
    height: 100%;
}

/* Header */
header {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: var(--black);
}

header .logo {
    color: var(--milky);
    padding: 1rem 2rem;
    font-size: x-large;
}

/* Sidebar */
.sidebar {
    grid-column: 1;
    background-color: var(--dark-cyan);
    color: var(--milky);
    padding: 3rem 2rem;
    font-size: larger;
    
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 6rem;
}

.sidebar .default-list {
    display: grid;
}

.sidebar span {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 0.5rem;
}

svg {
    justify-self: center;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

.sidebar form {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
}

.sidebar form input {
    width: 12rem;
}

.sidebar form button {
    position: relative;
    left: -4rem;
    background-color: transparent;
    border: none;
}

li {
    display: grid;
    grid-template-columns: 2rem 1fr 30px;
    gap: 0.2rem;
    margin: 0.75rem 0px;
}

li .fa-trash {
    font-size: medium;
}

/* Main */

.main {
    background-color: var(--light-grey);
    color: var(--black);
    padding: 1rem 25%;
}

.main h2 {
    text-align: center;
    font-size: 40px;
}

.main li {
    display: grid;
    grid-template-columns: 30px 50% 1fr 30px;
}

.main input[type="checkbox"] {
    appearance: none;
    background-color: var(--light-grey);
    margin: 0;
    font: inherit;
    color: var(--dark-cyan);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--dark-cyan);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    
    display: grid;
    place-content: center;
}

/* Following animation was made by Stephanie Eckles
In the article: https://moderncss.dev/pure-css-custom-checkbox-style/ */

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--dark-cyan);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#add-task-popup {
    display: block;
}

#add-task-popup form {
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto 30px 30px;
}

/* Footer */
footer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--black);
    color: var(--cyan);
}

footer a {
    color: var(--cyan);
}