:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Color scheme taken from (https://visme.co/blog/website-color-schemes/)
    Autho: Nayomi Chibana */
    
    --black: #17252A;
    --cyan: #3AAFA9;
    --dark-cyan: #2B7A78;
    --light-grey: #DEF2F1;
    --milky: #FEFFFF;
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    height: 100%;
}

/* Header */
header {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: var(--black);
}

header .logo {
    color: var(--milky);
    padding: 1rem 2rem;
    font-size: x-large;
}

/* Sidebar */
.sidebar {
    grid-column: 1;
    background-color: var(--dark-cyan);
    color: var(--milky);
    padding: 3rem 2rem;
    font-size: larger;

    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 6rem;
}

.sidebar .default-list {
    display: grid;
}

.sidebar span {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

span svg {
    justify-self: center;
}

ul {
    list-style: none;
}

/* Main */

.main {
    background-color: var(--light-grey);
    padding: 1rem 25%;
}